h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 48px
}

.ing {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: blue;
    font-size: 30px;
}

.procedure {
    background: #3256c3;
    padding-bottom: 1em;
    margin: 1em auto;
}

.procedure h2{
    background: grey;
    padding: 0.5em;
}
